.cart_empty {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart_empty > img {
  object-fit: cover;
}
.cart_empty_text {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2.8rem;
  text-align: center;
}
.cart_empty_btn_return {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  padding-left: 1.8624rem;
  padding-right: 1.8624rem;
  outline: none;
  border: none;
  color: white;
  background-color: #669933;
  cursor: pointer;
}
